{% extends "base_user.html" %}
{% block title %}
    用户中心
{% endblock %}

{% block body %}
    <script>
        $("#gerenxinxi").addClass("active").siblings().removeClass("active")
    </script>
    <div class="right_content clearfix">
        <div class="info_con clearfix">
            <h3 class="common_title2">基本信息</h3>
            <ul class="user_info_list">
                <li><span>用户名：</span>{{ uname }}</li>
                <li><span>联系方式：</span>
                    {% if uphone == "" %}
                        暂无
                    {% else %}
                        {{ uphone }}
                    {% endif %}
                </li>
                <li><span>联系地址：</span>
                    {% if uaddress == "" %}
                        暂无
                    {% else %}
                        {{ uaddress }}
                    {% endif %}
                </li>
            </ul>
        </div>

        <h3 class="common_title2">最近浏览</h3>
        <div class="has_view_list">
            <ul class="goods_type_list clearfix">
                {% for good in good_list %}
                    <li>
                        <a href="detail.html"><img src="/static/media/{{ good.gpic }}"></a>
                        <h4><a href="detail.html">{{ good.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ good.gprice }}</span>
                            <span class="unit">{{ good.gprice }}/{{ good.gunit }}</span>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}